<p id="notice"><%= notice %></p>
<h1>Company Values</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @company_values.each do |company_value| %>
        <tr>
          <td><%= company_value.title %></td>
          <td><%= link_to 'Show', admins_company_value_path(company_value) %></td>
          <td><%= link_to 'Edit', edit_admins_company_value_path(company_value) %></td>
          <td><%= link_to 'Destroy', admins_company_value_path(company_value), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<br>
<%= link_to 'New Company Value', new_admins_company_value_path %>
