<h1>Employees</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Number of kudos</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.email %></td>
          <td><%= employee.number_of_available_kudos %></td>
          <td><%= link_to 'Show', admins_employee_path(employee) %></td>
          <td><%= link_to 'Edit', edit_admins_employee_path(employee) %></td>
          <td><%= link_to 'Destroy', admins_employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
    </tbody>
</table>
<br>
