<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Status</th>
      <th>Delivery method</th>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Purchase time</th>
      <th>Price</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.delivery_status %></td>
        <td><%= order.reward.delivery_method %></td>
        <td><%= order.id %></td>
        <td><%= order.reward.title %></td>
        <td><%= order.reward.description %></td>
        <td><%= time_ago_in_words(order.created_at) %> ago</td>
        <td><%= order.purchase_price %></td>
        <td><%= order.employee.full_name %></td>
        <% if order.ordered? %>
          <td><%= link_to 'Deliver', deliver_admins_order_path(order), method: :patch, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
