<h1>Rewards</h1>

<% @categories.each do |category| %>
  <td><%= link_to category.title, rewards_path(category: category.title) %></td>
<% end %>
<td><%= link_to 'All', rewards_path %></td>

<table class='table'>
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Number of available items</th>
      <th>Delivery method</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= number_to_currency(reward.price) %></td>
        <% if reward.category.present? %>
          <td><%= reward.category.title %></td>
        <% else %>
          <td>(no category)</td>
        <% end %>
        <td><%= reward.number_of_available_items %></td>
        <td><%= Reward.delivery_methods[reward.delivery_method] %></td>
        <td><%= link_to 'Show', reward %></td>
        <td><%= link_to 'Buy', new_order_path(reward: reward) %></td>
      </tr>
    <% end %>
  </tbody>  
</table>
<%= paginate @rewards %>
