<h1>Rewards</h1>

<% @categories.each do |category| %>
  <td><%= link_to category.title, rewards_path(category: category.title) %></td>
<% end %>
<td><%= link_to 'All', rewards_path %></td>

<table class='table'>
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= number_to_currency(reward.price) %></td>
        <td><%= reward.category.title %></td>
        <td><%= link_to 'Show', reward %></td>
        <td><%= link_to 'Buy', orders_path(reward: reward), method: :post, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>  
</table>
<%= paginate @rewards %>
