<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reward.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @reward.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @reward.price %>
</p>

<%= link_to 'Back', rewards_path %>
