<p>
  <strong>Title:</strong>
  <%= @reward.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @reward.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @reward.price %>
</p>
<p>
  <% if @reward.reward_photo.present? %>
      <strong>Photo:</strong></br>
      <%= image_tag @reward.reward_photo %>
  <% end %>
</p>

<%= link_to 'Buy', new_order_path(reward: @reward) %>

<%= link_to 'Back', rewards_path %>
