<p>
  <strong>Title:</strong>
  <%= @kudo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @kudo.content %>
</p>

<p>
  <strong>Giver:</strong>
  <%= @kudo.giver.email %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @kudo.receiver.email %>
</p>

<p>
  <strong>Giver:</strong>
  <%= @kudo.company_value.title %>
</p>
<% if @kudo.giver == current_employee %>
  <%= link_to_if(policy(@kudo).update?, 'Edit', edit_kudo_path(@kudo)) %>
  <%= link_to_if(policy(@kudo).destroy?, 'Destroy', @kudo, method: :delete, data: { confirm: 'Are you sure?' }) %>
<% end %>

<%= link_to 'Back', kudos_path %>
