<h1>New Order</h1>

<%= form_with(model: @order) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% @address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :reward, value: @order.reward.id %>
  </div>

  <% if @order.reward.post? %>
    <%= fields_for @address do |address_field| %>
      <div class="field">  
        <%= form.label :street %>
        <%= address_field.text_field :street %>
      </div>
      <div class="field">  
        <%= form.label :postcode %>
        <%= address_field.text_field :postcode %>
      </div>
      <div class="field">  
        <%= form.label :city %>
        <%= address_field.text_field :city %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', rewards_path %>
