<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Employee Recognition Platform", root_path, class:"navbar-brand" %>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
        <% if employee_signed_in? %>
            <li class="nav-item">
            <%= link_to "Sign Out", destroy_employee_session_path, method: :delete, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <p> <span class="nav-link" >Available kudos: <%= current_employee.number_of_available_kudos %></span></p>
            </li>  
            <li class="nav-item">
              <p> <span class="nav-link" >Your points: <%= current_employee.number_of_available_points %></span></p>
            </li>  
            <li class="nav-item">
              <%= link_to "Rewards", rewards_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My rewards", orders_path, class:"nav-link" %>
            </li>
        <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up", new_employee_registration_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign In", new_employee_session_path, class:"nav-link" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
