<h1>Rewards</h1>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @rewards.each do |reward| %>
        <tr>
          <td><%= reward.title %></td>
          <td><%= number_to_currency(reward.price) %></td>
          <td><%= link_to 'Show', admins_reward_path(reward) %></td>
          <td><%= link_to 'Edit', edit_admins_reward_path(reward) %></td>
          <td><%= link_to 'Destroy', admins_reward_path(reward), method: :delete, data: { confirm: 'Are you sure?' } %></td>         
        </tr>
      <% end %>
    </tbody>
</table>
<br>
<%= link_to 'New Reward', new_admins_reward_path %>
